<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: header"></div>

<div class="container-fluid p-5 m-auto">
    <h1>View All Recipes</h1>
    <div class="card-deck justify-content-center pt-5">
        <div class="card col-2 thumb-post p-1" th:each="recipe:${recipes}">
            <img class="card-img-top img" th:src="${recipe.img}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a th:href="'/recipes/display?recipeId=' + ${recipe.id}" th:text="${recipe.name}"></a></h5>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: footer"></div>
</body>
</html>