<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace="fragments :: head"></head>
</head>
<body>
<div th:replace="fragments :: header"></div>
<div class="container">
    <form th:action="@{/recipes/create}" method="POST" th:object="${recipe}">
        <div class="form-group">
            <label for="name">Recipe Name</label>
            <input type="text" class="form-control" id="name"th:field="*{name}"required>
        </div>
        <!--  -->
        <div class="form-group">
            <label for="img">Recipe Image</label>
            <input type="text" class="form-control" id="img" th:field="*{img}" required>
            <small id="emailHelp" class="form-text text-muted">Please enter a URL to your recipe image.</small>
        </div>
        <!--  -->
        <div class="form-group">
            <label for="category">Category</label>
            <select class="custom-select" id="category" th:field="*{category}">
                <option th:each="category : ${categories}" th:value="${category}" th:text="${category.name()}"></option>
            </select>
        </div>
        <!--  -->
        <div class="form-group">
            <label for="tag">Tag</label>
            <select class="custom-select" id="tag" th:field="*{tag}">
                <option th:each="tag : ${tags}" th:value="${tag}" th:text="${tag.name()}"></option>
            </select>
        </div>
        <!--  -->
        <div class="form-group" id="ingredientsContainer">
            <label for="ingredient">Ingredients</label>
            <div class="form-row" id="recipeIngredient">
                <div class="col-2">
                    <input type="number" class="form-control" pattern="^\d*(\.\d{0,2})?$" step=".05" min=".05" name="quantity" id="quantity" placeholder="Quantity" required>
                </div>
                <div class="col-4">
                    <select name="measurement" id="measurement" class="custom-select">
                        <option th:each="measurement : ${measurements}" th:text="${measurement.name()}"></option>
                    </select>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" name="ingredient" id="ingredient" placeholder="Ingredient Name" required></input>
                </div>
            </div>
            <button class="btn btn-primary my-4" id="addIngredientButton">Add Ingredient</button>
        </div>

        <!--  -->
        <div class="form-group" id="instructionsContainer">
            <label for="ingredient">Instructions</label>
            <input type="text" class="form-control" name="instruction" id="instruction" placeholder="Instruction" required>
            <button class="btn btn-primary my-4" id="addInstructionButton">Add Instruction</button>
        </div>

        <!--  -->

        <button class="btn btn-primary" type="submit" onClick="submitForm()">Create Recipe</button>

    </form>
</div>

<!--  -->

<script>


    function addCategory() {
        $.get("/recipes/create/addCategory").done(function (fragment) { // get from controller
            $("#new-input").replaceWith(fragment); // update snippet of page
        });
    }
    function submitForm() {
        document.recipe - form.reset();
    }

</script>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
