<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace="fragments :: head"></head>
</head>
<body>
<div class = "container - xxl">

    <h1 th:text="${title}">Recipe:</h1>

    <form method="post" th:object="${recipe}">

        <div class="form-group">
            <label>Name
                <input th:field="${recipe.name}" class="form-control">
            </label>
            <span th:errors="${recipe.name}" class="error"></span>
        </div>
        <br>
        <div class="form-group">
            <label>Ingredient
               <input th:field="${recipe.ingredients}">
            </label>
            <span th:errors="${recipe.ingredients}" class="error"></span>
        </div>
        <br>
        <div class="form-group">
            <label>Directions
                <input th:field="${recipe.directions}">
            </label>
            <span th:errors="${recipe.directions}" class="error"></span>
        </div>
        <div class="form-group">
            <label>Photo
                <input th:field="${recipe.img}" class="form-control">
            </label>
        </div>

        <div class="form-group">
            <label>Categories
                <select th:field="${recipe.category}">
                    <option th:each="category : ${categories}"
                            th:value="${category}"
                            th:text="${category.name()}"></option>
                </select>
            </label>
            <span th:errors="${recipe.category}" class="error"></span>
        </div>
        <div class="form-group">
            <label>Tags
                <select th:field="${recipe.tag}">
                    <option th:each="tag : ${tags}"
                            th:value="${tag}"
                            th:text="${tag.name()}"></option>
<!--                            th:value="${tag.valueOf(tag.name())}"-->

                </select>
            </label>
            <span th:errors="${recipe.category}" class="error"></span>
        </div>
        <input type="submit" value="Create" class="btn btn-primary">
    </form>
</div>
<div th:replace="fragments :: footer"></div>
<script>

    function addCategory() {
        $.get("/recipes/create/addCategory").done(function(fragment) { // get from controller
            $("#new-input").replaceWith(fragment); // update snippet of page
        });
    }
</script>
</body>
</html>

