<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace="fragments :: head"></head>
</head>
<body>
<div th:replace="fragments :: header"></div>
<div class="container">
    <h1>Create a New Recipe</h1>
    <form th:action="@{/recipes/create}" class="py-5" method="POST" th:object="${recipe}">
        <div class="form-group">
            <label for="name">Recipe Name</label>
            <input type="text" class="form-control" id="name"th:field="*{name}"required>
        </div>

        <!-- Recipe Image -->
        <div class="form-group">
            <label for="img">Recipe Image</label>
            <input type="text" class="form-control" id="img" th:field="*{img}" required>
            <small id="emailHelp" class="form-text text-muted">Please enter a URL to your recipe image.</small>
        </div>

        <!-- Category -->
        <div class="form-group">
            <label for="category">Category</label>
            <select class="custom-select" id="category" th:field="*{category}">
                <option th:each="category : ${categories}" th:value="${category}" th:text="${category.getName()}"></option>
            </select>
        </div>


        <!-- Tag -->
        <label th:for="tags" th:text="${errorMsg}" style="color: red">Tags</label>
        <th:block th:each="tag : ${tags}" th:field="*{tags}" required>
            <input type="checkbox" name="tags" th:value="${tag.id}" >
            <label th:text="${tag.name}" style="font-size:15px"></label>
        </th:block>
        <a th:href="@{'./tags'}">Create New Tag</a>

        <!-- Ingredients -->
        <div class="form-group">
            <label for="ingredient">Ingredients</label>
            <div id="ingredientsContainer">
            <div class="form-row my-2" id="recipeIngredient">
                <div class="col-2">
                    <input type="number" class="form-control" pattern="^\d*(\.\d{0,2})?$" step=".05" min=".05" name="quantity" id="quantity" placeholder="Quantity" required>
                </div>
                <div class="col-4">
                    <select name="measurement" id="measurement" class="custom-select">
                        <option th:each="measurement : ${measurements}" th:value="${measurement}" th:text="${measurement.getName()}"></option>
                    </select>
                </div>
                <div class="col-5">
                    <input type="text" class="form-control" name="ingredient" id="ingredient" placeholder="Ingredient Name" required></input>
                </div>
                <div class="col-1 d-flex align-items-center deleteIngredient" >
                    <i class="fa fa-times text-danger fa-lg"></i>
                </div>
            </div>
            </div>
            <button class="btn btn-primary my-4" id="addIngredientButton">Add Ingredient</button>
        </div>

        <!-- Instructions -->
        <div class="form-group">
            <label for="instruction">Instructions</label>
            <div id="instructionsContainer">
                <div id="recipeInstruction" class="my-2 form-row">
                    <div class="col-11">
                        <input type="text" class="form-control" name="instruction" id="instruction" placeholder="Instruction" required>
                    </div>
                <div class="col-1 d-flex align-items-center deleteIngredient" >
                    <i class="fa fa-times text-danger fa-lg"></i>
                </div>
                </div>
            </div>
            <button class="btn btn-primary my-4" id="addInstructionButton">Add Instruction</button>
        </div>

        <!--  -->

        <button class="btn btn-primary" type="submit">Create Recipe</button>

    </form>
</div>

<!--  -->
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
