<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div class = "container - xxl1">
    <tr>
        <td><h1 class="centered" th:text="${recipe.name}"></h1></td><br>
    </tr>
    <tr>
    <img class="img-big" th:src="${recipe.img}"/>

        <td>
            <div class="rating-area">
                <tr>
                <input th:text="'Rate the recipe:'" type="radio" id="star-5" name="rating" value="5">
                <label for="star-5" title="Оценка «5»"></label>
                <input type="radio" id="star-4" name="rating" value="4">
                <label for="star-4" title="Оценка «4»"></label>
                <input type="radio" id="star-3" name="rating" value="3">
                <label for="star-3" title="Оценка «3»"></label>
                <input type="radio" id="star-2" name="rating" value="2">
                <label for="star-2" title="Оценка «2»"></label>
                <input type="radio" id="star-1" name="rating" value="1">
                <label for="star-1" title="Оценка «1»"></label>
                </tr>
            </div>
        </td>
    </tr>


    <table class="table table-striped">

        <tr>
            <th>Ingredients:</th>
            <td th:text="${recipe.ingredients}"></td>
        </tr>
        <tr>
            <th>Directions:</th>
            <td th:text="${recipe.directions}"></td>
        </tr>

        <tr>
            <th>Category:</th>
            <td th:text="${recipe.category}"></td>
        </tr> <tr>
        <th>Tags:</th>
        <td  th:text="${recipe.tag}"></td>
    </tr>
        <tr>

            <td class="save_button"><a  th:href="'/myPage' + ${recipe.id}" class="btn btn-primary">Add to favorite</a></td>
        </tr>
    </table>

</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>
