<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div class = "container - xxl1">
    <tr>
      <td><h1 class="centered" th:text="${recipe.name}"></h1></td><br>
    </tr>
    <tr>
    <img class="img-big" th:src="${recipe.img}"/>
        <br>
        <form method="post" th:action="'/users/addRecipe/' + ${recipe.id}">

            <input  value="Add to favorite" type="submit" class="btn btn-primary">
        </form>
        <br>
    <table class="table table-striped">

        <tr>
            <th>Ingredients:</th>
            <td th:text="${recipe.ingredients}"></td>
        </tr>
        <tr>
            <th>Directions:</th>
            <td th:text="${recipe.directions}"></td>
        </tr>

        <tr>
            <th>Category:</th>
            <td th:text="${recipe.category}"></td>
        </tr> <tr>
        <th>Tags:</th>
        <td  th:text="${recipe.tag}"></td>
    </tr>
    </table><br>


    <div id="ratings">
        <div th:text="'Average Rating: ' + ${averageRating}"></div>
        <div th:text="'Total Ratings: ' + ${numRatings}"></div>
    </div>
        <br>

        <div id="submit-review">
            <h3>Leave a Review</h3>
            <p th:text="${errorMsg}" style="color:red;"></p>
            <form method="post"  th:object="${review}">
                <input type="hidden" id="recipeId" name="recipeId" th:value="${recipe.id}" class="form-control">

                <label>*My Rating:</label><br>

                <label>1</label>
                <input type="radio" th:field="*{rating}" value="1" class="form-control" required>
                <label>2</label>
                <input type="radio" th:field="*{rating}" value="2" class="form-control">
                <label>3</label>
                <input type="radio" th:field="*{rating}" value="3" class="form-control">
                <label>4</label>
                <input type="radio" th:field="*{rating}" value="4" class="form-control">
                <label>5</label>
                <input type="radio" th:field="*{rating}" value="5" class="form-control">
                <p class="error" th:errors="${review.rating}"></p>
                <br>

                <label>*Name:</label><br>
                <input type="text" th:field="*{name}" class="form-control" required>
                <p class="error" th:errors="${review.name}"></p>

                   <br>
                   <label>Comment:</label><br>
                   <textarea th:field="*{comment}" rows="8" cols="100" placeholder="What did you think of the recipe?"></textarea><br>
                   <input type="submit" value="Post Review" name="submit">
                <p class="error" th:errors="${review.comment}"></p>

             </form>
         </div>

     <div id="reviews">
         <h3 th:text = "${comments}"></h3>

         <table>
            <tr>
                <th>Name</th>
                <th>Comment</th>
                <th>Date</th>
            </tr>
             <tr th:each="review : ${recipe.reviews}">
                 <div th:if ="${!review.comment.isEmpty()}">
                 <td th:text = "${review.name}"></td>
                 <td th:text = "${review.comment}"></td>
                 <td th:text = "${review.timestamp}"></td>
                  </th:if>
                 </div>
             </tr>
         </table>
 </div>
 <div th:replace="fragments :: footer"></div>
 </body>
 </html>
