<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta charset="ISO-8859-1">
    <title>Title</title>
    <head th:replace="fragments :: head"></head>
</head>
<body>
<div class="container - xxl">
    <br><br><br><br>

    <div align="center">
        <h1>Edit Recipe</h1>
        <form name="recipe-form"  th:action="@{/recipes/edit}"  method="post" th:object="${recipe}">
            <div class="form-group">
                <label>Recipe Name:</label>
                <input type="text" th:field="*{name}" required/><br/>
            </div><br>
            <div class="form-group">
                <label>Photo:</label>
                <input type="text" th:field="*{img}" required/><br/>
            </div><br>
            <div class="form-group">
                <label>Category:</label>
                <select th:field="*{category}">
                    <option th:each="category : ${categories}" th:value="${category}"
                            th:text="${category.name()}"></option>
                </select>
            </div><br/>
            <div class="form-group">
                <label>Tag:</label>
                <select th:field="*{tag}">
                    <option th:each="tag : ${tags}" th:value="${tag}" th:text="${tag.name()}"></option>
                </select>
            </div><br/>
            <div class="form-group" th:each="ingredient: ${recipe.ingredients}">
                <label>Ingredients:</label>
                <input type="number" pattern="^\d*(\.\d{0,2})?$" step=".05" min=".05" name="quantity" id="quantity" th:value="${ingredient.quantity} "required>
                <select name="measurement" id="measurement">
                    <option th:each="measurement : ${measurements}"
                            th:text="${measurement.name()}" th:selected="(${measurement.name()} == ${ingredient.measurement})" ></option>

                </select>
                <textarea rows="2" cols="45" th:text="${ingredient.ingredient}" name="ingredient"></textarea><br/>
            </div><br>
            <div class="form-group" th:each="instruction : ${recipe.instructions}">
                <label>Directions:</label>
                <textarea rows="2" cols="45" th:text="${instruction.step}" name="instruction"></textarea>
            </div>
            <input type="hidden" th:value="${recipe.id}" name="recipeId" />
            <button  type="submit" class="btn btn-primary" onclick="submitForm()">Update</button>
        </form>
    </div>
</div>

<div th:replace="fragments :: footer"></div>
</body>
</html>