<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: header"></div>


<div class="container-fluid p-5 m-auto">
    <h1>My Recipes</h1>

    <form action="/users/profile/sort" method="post" th:object="${recipe}">
        <div class="sort">
            <select id="sortParameter" class="btn btn-light" name="sortParameter" onchange="this.form.submit()">
                <option value="">Sort by..</option>
                <option th:each="sortValue:${sort}"
                        th:value="${sortValue}"
                        th:text="${sortValue.getName()}">
                </option>
            </select>
        </div>
    </form>

    <form action="/users/profile/filter" method="post">
        <list id="tagRepository"  name="tagRepository">
            <p>Filter by:</p>
            <div th:each="aTag:${tag}">
                <input type="checkbox"
                       name="tagId"
                       th:value="${aTag.getId()}"
                       th:text="'   ' + ${aTag.getName()}"><br>
            </div>
            <input type="hidden" name="category" th:value="${category}">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Filter</button>
        </list>
        </ul>
    </form>


    <div class="card-deck justify-content-center pt-5">
        <div class="card col-2 thumb-post p-1" th:each="recipe:${recipes}">
            <a th:href="'/recipes/display?recipeId=' + ${recipe.id}">
                <div class="imagecontainer"><img class="card-img-top img my-auto" th:src="${recipe.img}" alt="Card image cap"></div></a>
            <div class="card-body">
                <h5 class="card-title"><a th:href="'/recipes/display?recipeId=' + ${recipe.id}" th:text="${recipe.name}"></a></h5>
                                        <form method="post" th:action="'/users/deleteRecipe/' + ${recipe.id}">
                                            <input class="btn btn-danger" id="delete_button" value="Delete from favorite" type="submit" >
                                        </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: footer"></div>
</body>
</html>
