/* Crop thumbnails on recipes/all template */
.thumb-post img {
  object-fit: cover;
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 250px;
  margin-bottom: 1rem;
}

.row > div[class*='col-'] {
  display: flex;
  flex:1 0 auto;
}


div.imagecontainer {
    height: 250px;
    display: flex;
    align-items: center;
}

.card-deck .card {
    min-width: 250px;
}

i.fa.fa-times:hover {
    cursor: pointer
}

.sort {
   background color: blue;
   position: fixed;
   right: 10px;
   top: 120px;
}