/* Crop thumbnails on recipes/all template */
.thumb-post img {
  object-fit: cover;
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 250px;
  margin-bottom: 1rem;
}

.row > div[class*='col-'] {
  display: flex;
  flex:1 0 auto;
}


div.imagecontainer {
    height: 250px;
    display: flex;
    align-items: center;
}

.card-deck .card {
    min-width: 250px;
}

i.fa.fa-times:hover {
    cursor: pointer
}


table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
}
caption {
    padding: 10px;
    color: white;
    background: #8FD4C1;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}
th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
}
td {
    padding: 10px;
}
tr:nth-child(odd) {
    background: white;
}
tr:nth-child(even) {
    background: #E8E6D1;
}

.shopping-head {
    background-color: #413e63;
    color: #E8E6D1;
    font-size: 24px;
    font-weight: bold;
}

.shopping-close {
    display: flex;
    justify-content: flex-end;
}

.table_dark {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 16px;
    width: 940px;
    text-align: left;
    border-collapse: collapse;
    background: #252F48;
    margin: 10px;
}
.table_dark caption {
    background: #F79361;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
    color: white;
    font-family: "Roboto Slab",serif;
    font-style: normal;
    font-size: 26px;
    text-align: center;
    margin: 0;
}


.table_dark th {
    color: antiquewhite;
    border-bottom: 1px solid #37B5A5;
    padding: 12px 17px;
}
.table_dark td {
    color: #CAD4D6;
    border-bottom: 1px solid #37B5A5;
    border-right:1px solid #37B5A5;
    padding: 7px 17px;
}
.table_dark tr:last-child td {
    border-bottom: none;
}
.table_dark td:last-child {
    border-right: none;
}
.table_dark tr:hover td {
    text-decoration: underline;
}
