<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<div th:replace="fragments :: head"></div>
<body>
<div th:replace="fragments :: header"></div>
<div class="container">
    <h1 th:text="${title}"></h1>
<div class="card m-4">
    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Paal Williams</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="https://www.github.com/paalwilliams" target="_blank"><i class="fa fa-github fa-lg px-2"></i></a>
        <a href="mailto:paalwilliams@gmail.com" target="_blank"><i class="fa fa-envelope fa-lg px-2"></i></a>
    </div>
</div>

<div class="card m-4">
    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Reyna Biyo</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="https://github.com/reynabiyo20"><i class="fa fa-github fa-lg px-2"></i></a>
        <i class="fa fa-envelope fa-lg px-2"></i>
    </div>
</div>
<div class="card m-4">
    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Kelly Dobbs</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="https://github.com/kellydobbs"><i class="fa fa-github fa-lg px-2"></i></a>
        <i class="fa fa-envelope fa-lg px-2"></i>
    </div>
</div>
<div class="card m-4">
    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Athena Hiatt</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="https://github.com/missAH16"><i class="fa fa-github fa-lg px-2"></i></a>
        <i class="fa fa-envelope fa-lg px-2"></i>
    </div>
</div>
<div class="card m-4">
    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Oksana Ross</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="https://github.com/Oksana999"><i class="fa fa-github fa-lg px-2"></i></a>
        <i class="fa fa-envelope fa-lg px-2"></i>
    </div>
</div>
<div class="card m-4">
    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Miguel Cortes</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="row">
            <a href="https://github.com/mthreec1983"><i class="fa fa-github fa-lg px-2"></i></a>
            <i class="fa fa-envelope fa-lg px-2"></i>
        </div>
    </div>
</div>
</div>
</body>
<div th:replace="fragments :: footer"></div>
</html>