<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Famous Saint Louis Recipes</title>
    <!-- CSS only -->
<!--    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" th:rel="stylesheet"  integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">-->
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" th:rel="stylesheet">-->
<!--    <link th:href="@{/css/style.css}" rel="stylesheet" />-->
<!--    <link th:href="@{/css/rating.css}" rel="stylesheet" />-->

</head>
<body>

<header th:fragment="header">
    <div id="logo-img">
        <h1>Recipes R Us</h1>
    </div>
    <nav>
        <ul class="menu">
            <li class="menu-item"><a href="/categories/1">Category 1</a></li>
            <li class="menu-item"><a href="/categories/2">Category 2</a></li>
            <li class="menu-item"><a href="/categories/3">Category 3</a></li>
            <li class="menu-item"><a href="/categories/4">Category 4</a></li>
            <li class="menu-item"><a href="/categories/5">Category 5</a></li>
        </ul>
    </nav>
</header>


<h1>Hello Friends!</h1>

<div th:fragment="footer">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"}></script>
    <!--    <script type="text/javascript" th:src="@{/js/carousel.js}"></script>-->
</div>
</body>
</html>
